# Includes LICENCE
include LICENCE
include README.md

# Include template / static / docs files
recursive-include buttons/templates *
recursive-include buttons/static *
recursive-include buttons/docs *

# Include i18n files
recursive-include buttons/locale *


