# Includes LICENCE
include LICENCE
include README.rst
include CHANGELOG.md
# Files
recursive-include templates *
recursive-include static *
recursive-include buttons/templates *
recursive-include buttons/static *
