# Includes LICENCE
include LICENCE
include README.md

# Include template files
recursive-include buttons/templates *

# Include i18n files
recursive-include buttons/locale *

# Exclude docs directory
prune docs

