{% if debug %}<!-- buttons/button.html -->{% endif %}
{% load fontawesome %}
{% with licon_position=icon_position.value|default_if_none:icon_position|default_if_none:'RIGHT'|upper %}
    {% spaceless %}
        {% if url %}
            <!-- licon_position = {{ licon_position }} -->
            <a
                    href="{{ url }}"
                    title="{{ text }}" alt="{{ text }}" aria-label="{{ text }}"
                    class="btn {{ btn_css_color }} {{ btn_css_extra }}"
                    {% if data_dismiss %}data-dismiss="{{ data_dismiss }}" {% endif %}
                    {% if data_toggle %}data-toggle="{{ data_toggle }}" {% endif %}
                    {% if data_target %}data-target="{{ data_target }}" {% endif %}>
                {% if licon_position == 'LEFT' %}
                    {% fontawesome_icon icon %}&nbsp;{{ text }}
                {% elif licon_position == 'RIGHT' %}
                    {{ text }}&nbsp;{% fontawesome_icon icon %}
                {% else %}
                    {{ text }}
                {% endif %}
            </a>
        {% else %}
            <button type="{{ btn_type }}"
                    {% if btn_id %}id="{{ btn_id }}"{% endif %}
                    title="{{ text }}" alt="{{ text }}" aria-label="{{ text }}"
                    class="btn {{ btn_css_color }} {{ btn_css_extra }}"
                    {% if data_dismiss %}data-dismiss="{{ data_dismiss }}" {% endif %}
                    {% if data_toggle %}data-toggle="{{ data_toggle }}" {% endif %}
                    {% if data_target %}data-target="{{ data_target }}" {% endif %}>
                {% if licon_position == 'LEFT' %}
                    {% fontawesome_icon icon %}&nbsp;{{ text }}
                {% elif licon_position == 'RIGHT' %}
                    {{ text }}&nbsp;{% fontawesome_icon icon %}
                {% else %}
                    {{ text }}
                {% endif %}
            </button>
        {% endif %}
    {% endspaceless %}
{% endwith %}
